<%- include("../templates/header") %>

<main>
    <h1 style="font-size: 3em; color: #007bff; text-align: center; margin-bottom: 20px;">About Us</h1>
    <p style="font-size: 1.2em; line-height: 1.8; color: #333; margin-bottom: 15px;">
        Welcome to our Music Instruments Website, your go-to destination for exploring a wide variety of high-quality musical instruments.</p>
    
    <h2 style="font-size: 2em; color: #0056b3; margin-top: 20px;">Our Mission</h2>
    <p style="font-size: 1.2em; line-height: 1.8; color: #333; margin-bottom: 15px;">
        Our mission is to connect musicians and enthusiasts with the finest instruments, helping you create the music you love. Whether you're a beginner or a seasoned professional, we strive to provide resources, tools, and a seamless experience tailored to your needs.</p>

    <h2 style="font-size: 2em; color: #0056b3; margin-top: 20px;">
        What We Offer</h2>
    <ul>
        <li>A diverse catalog of instruments available for browsing and purchasing.</li>
        <li>A user-friendly platform for adding, editing, and managing instruments (for authorized users).</li>
        <li>Effortless checkout for all your musical needs.</li>
    </ul>

    <h2 style="font-size: 2em; color: #0056b3; margin-top: 20px;">Our Story</h2>  
    <p style="font-size: 1.2em; line-height: 1.8; color: #333; margin-bottom: 15px;">
    This project was born out of a passion for music and technology. We aim to blend creativity with functionality, ensuring a smooth experience for our users.</p>

    <h2 style="font-size: 2em; color: #0056b3; margin-top: 20px;">
        Get in Touch</h2>
    <p style="font-size: 1.2em; line-height: 1.8; color: #333; margin-bottom: 15px;">
    Have questions or feedback? We'd love to hear from you! Feel free to reach out through our <a href="https://github.com/felipekei" target="_blank">Contact Page</a>.</p>
</main>

<%- include("../templates/footer") %>