<%- include("../templates/header") %>

<main>
    <h1>Thank You for Your Order!</h1>
    <p>Thank you, <%= name %>, for your purchase.</p>
    <p>We will send a confirmation email to <%= email %> shortly with the details of your order.</p>

    <a href="/instruments" class="btn">Continue Shopping</a>
</main>

<%- include("../templates/footer") %>