<footer>
    <div class="footer-container">
        <p>&copy; 2025 Music Instruments Website. All rights reserved.</p>
        <nav>
            <a href="/instruments">Home</a> |
            <a href="https://github.com/felipekei" target="_blank">Contact</a> |
            <a href="/about">About Us</a> |
            <a href="/logout">Logout</a> 
        </nav>
        <p>Made with ❤️ in Toronto</p>
    </div>
</footer>