<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Instruments</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to our Music Instruments Website</h1>
        <nav>
            <a href="/instruments">Home</a>
            <a href="/instruments/add">Add Instrument</a>
            <a href="/cart">Shopping Cart</a>
            <a href="/about">About Us</a>
            <a href="https://github.com/felipekei" target="_blank">Contact</a>          
            <form action="/instruments" method="GET">
                <input type="text" name="search" placeholder="Search Instruments..." />
                <button type="submit" class="btn">Search</button>
            </form>
        </nav>
    </header>
</body>
</html>