<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Instruments</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<main>
    <h1>Registration</h1>
    
        </ul>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username:</label>
            <input 
                type="text" 
                id="username" 
                name="username" 
                placeholder="Choose a username" 
                required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="Choose a password" 
                required />
        </div>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Log in here</a></p>
</main>